<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="connectionString" 
			 connectionString="Data Source=DESKTOP-BVGO48P\SQLEXPRESS;
				Initial Catalog=Booking;
				Integrated Security=True"/>
	</connectionStrings>
	<appSettings>
		<!--<add key="parentTable" 
			 value="dbo.Client" />
		<add key="childTable" 
			 value="dbo.Booking" />
		<add key="sql.SelectAllParent" 
			 value="SELECT * FROM {parentTable}" />
		<add key="sql.SelectAllChildren"
			value="SELECT * FROM {childTable}" />
		<add key="foreignKey" 
			 value="clientid"/>
		<add key="parentKey" 
			 value="id" />
		<add key="childKey"  
			 value="id" />-->

		<!--<add key="parentTable"
			 value="dbo.OwnerBooking" />
		<add key="childTable"
			 value="dbo.Booking" />
		<add key="sql.SelectAllParent"
			 value="SELECT * FROM {parentTable}" />
		<add key="sql.SelectAllChildren"
			value="SELECT * FROM {childTable}" />
		<add key="foreignKey"
			 value="ownerId"/>
		<add key="parentKey"
			 value="id" />
		<add key="childKey"
			 value="id" />-->

		<add key="parentTable"
	 value="dbo.Language" />
		<add key="childTable"
			 value="dbo.LanguageSpokenByOwnerCopy" />
		<add key="sql.SelectAllParent"
			 value="SELECT * FROM {parentTable}" />
		<add key="sql.SelectAllChildren"
			value="SELECT * FROM {childTable}" />
		<add key="foreignKey"
			 value="languageid"/>
		<add key="parentKey"
			 value="id" />
		<add key="childKey"
			 value="id" />
		
	</appSettings>
</configuration>